td {
    width: 25%;
    text-align: center;
    font-size: 25px;
    background-color: rgb(153, 153, 153);
}

table {
    width: 100%;
    height: 70vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

td:hover {
    background-color: gray;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

#resultarea {
    height: 30vh;
    background-color: rgb(124, 122, 122);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    box-sizing: border-box;
}

#result {
    background-color: rgb(90, 90, 90);
}

#result:hover {
    background-color: white;
}

.highlight {
    background-color: rgb(119, 114, 114);
}